node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.local
.env.development
debug.log
firebase-debug.log
*.log
.vercel
.replit
client/dist
server/dist
public/uploads/*
!public/uploads/.gitkeep
public/downloads/*
!public/downloads/.gitkeep
client/client/
.env.production